@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --font-bangers: var(--font-bangers) !important;
  --font-comic: var(--font-comic) !important;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Chrome, Edge, Safari */
.custom-scroll::-webkit-scrollbar {
  width: 6px !important; /* thin scrollbar */
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent !important; /* no background */
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: black !important; /* the black line */
  border-radius: 0 !important; /* sharp edges for a comic look */
}

/* Firefox */
.custom-scroll {
  scrollbar-width: thin !important;
  scrollbar-color: black transparent !important;
}